---

- name: Ensure enigma home is present
  ansible.builtin.file:
    path: "{{ roundcube_enigma_home }}"
    state: directory
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_group }}"
    mode: 0700
