---
- name: Ensure mcrypt dir is present
  ansible.builtin.file:
    path: /usr/lib/php/20180731/
    state: directory
    mode: 0755

- name: Install custom mcrypt
  ansible.builtin.copy:
    src: mcrypt.so
    dest: /usr/lib/php/20180731/mcrypt.so
    owner: root
    group: root
    mode: 0644
