---

- name: Create custom skin dir for elastic skin
  ansible.posix.synchronize:
    src: "{{ roundcube_skin }}"
    dest: "{{ roundcube_path }}/skins/"
    owner: false
    group: false
  when: roundcube_skin == 'elastic_systemli'

- name: Ensure custom skin dir has correct permissions
  file:
    path: "{{ roundcube_path }}/skins/{{ roundcube_skin }}/"
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_user }}"
    recurse: true
  when: roundcube_skin == 'elastic_systemli'

- name: Copy custom logo to image directory
  copy:
    src: "roundcube/{{ roundcube_custom_logo }}"
    dest: "{{ roundcube_path }}/skins/{{ roundcube_skin }}/images/{{ roundcube_custom_logo }}"
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_user }}"
    mode: 0644
  when: roundcube_custom_logo is defined

- name: Copy custom favicon
  copy:
    src: "roundcube/{{ roundcube_custom_favicon }}"
    dest: "{{ roundcube_path }}/skins/{{ roundcube_skin }}/images/{{ roundcube_custom_favicon }}"
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_user }}"
    mode: 0644
  when: roundcube_custom_favicon | default()
