---

- name: Create custom skin dir for elastic skin
  ansible.posix.synchronize:
    archive: false
    checksum: true
    dest: "{{ roundcube_working_dir }}/current/skins/"
    group: false
    owner: false
    recursive: true
    src: "{{ roundcube_skin }}"
  when: roundcube_skin == 'elastic_systemli'

- name: Ensure custom skin dir has correct permissions
  ansible.builtin.file:
    path: "{{ roundcube_working_dir }}/current/skins/{{ roundcube_skin }}/"
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_group }}"
    recurse: true
  when: roundcube_skin == 'elastic_systemli'

- name: Copy custom logo to image directory
  ansible.builtin.copy:
    src: "roundcube/{{ roundcube_custom_logo }}"
    dest: "{{ roundcube_working_dir }}/current/skins/{{ roundcube_skin }}/images/{{ roundcube_custom_logo }}"
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_group }}"
    mode: "0644"
  when: roundcube_custom_logo is defined

- name: Copy custom favicon
  ansible.builtin.copy:
    src: "roundcube/{{ roundcube_custom_favicon }}"
    dest: "{{ roundcube_working_dir }}/current/skins/{{ roundcube_skin }}/images/{{ roundcube_custom_favicon }}"
    owner: "{{ roundcube_user }}"
    group: "{{ roundcube_group }}"
    mode: "0644"
  when: roundcube_custom_favicon is defined
