---
- name: Import database
  community.mysql.mysql_db:
    name: "{{ roundcube_mysql_db }}"
    state: import
    target: "{{ roundcube_path }}/SQL/mysql.initial.sql"
    login_unix_socket: /run/mysqld/mysqld.sock

- name: Update database for getmail
  community.mysql.mysql_db:
    name: "{{ roundcube_mysql_db }}"
    state: import
    target: "{{ roundcube_path }}/plugins/getmail/drivers/database/SQL/mysql.initial.sql"
    login_unix_socket: /run/mysqld/mysqld.sock

- name: Restart apache
  service:
    name: apache2
    state: restarted
  when: roundcube_apache | bool
