<?php

// API endpoint for userli
$config['userli_url'] = '{{ roundcube_userli_url }}';

// API token for userli aliases
$config['userli_token'] = '{{ roundcube_userli_token }}';

// SSL certificate verification
$config['userli_ssl_verify'] = {{ roundcube_userli_ssl_verify }};
?>
